<a href="https://colab.research.google.com/github/Yezz1n/2022-1-1/blob/main/wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [23]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [3]:
# 로컬 컴퓨터에 있는 파일 코랩(colab)에 업로드
from google.colab import files
uploaded = files.upload()

Saving wine.data to wine (1).data

NameError: ignored

In [72]:
wine=pd.read_csv('wine.data')
wine.head(3)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [73]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [74]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [75]:
wine.iloc[0:3,0]=np.NaN
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,4.38
1,NaN,2.36,18.6,101,3.24,2.81,5.68
2,NaN,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,7.70
173,13.40,3.91,23.0,102,0.75,1.41,7.30
174,13.27,4.28,20.0,120,0.69,1.35,10.20
175,13.17,2.59,20.0,120,0.68,1.46,9.30
176,14.13,4.10,24.5,96,0.76,1.35,9.20

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [76]:
wine.iloc[2:4,3]=np.NaN
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,4.38
1,NaN,2.36,18.6,101.0,3.24,2.81,5.68
2,NaN,1.95,16.8,NaN,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [77]:
wine.alcohol.fillna(10, inplace = True)

wine.magnesium.fillna(100, inplace = True)

wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,10.00,2.36,18.6,101.0,3.24,2.81,5.68
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75

### Step 9. Count the number of missing values

In [78]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [79]:
a=np.random.randint(0,11,10)
a

array([6, 1, 5, 5, 0, 4, 0, 7, 1, 1])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [80]:
wine.alcohol.iloc[a]=np.NaN
wine.magnesium.iloc[a]=np.NaN
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,NaN,2.76,1.28,4.38
1,NaN,2.36,18.6,NaN,3.24,2.81,5.68
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,NaN,1.76,15.2,NaN,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 12.  How many missing values do we have?

In [85]:
wine.isnull().sum()

alcohol              6
malic_acid           0
alcalinity_of_ash    0
magnesium            6
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. Delete the rows that contain missing values

In [89]:
wine=wine.dropna()
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
8,13.86,1.35,16.0,98.0,3.15,1.85,7.22
9,14.10,2.16,18.0,105.0,3.32,2.38,5.75
10,14.12,1.48,16.8,95.0,2.43,1.57,5.00
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 14. Print only the non-null values in alcohol

In [90]:
a=wine.alcohol.notnull()
a

2      True
3      True
8      True
9      True
10     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: alcohol, Length: 171, dtype: bool

### Step 15.  Reset the index, so it starts with 0 again

In [91]:
wine.reset_index(drop=True)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
2,10.00,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
8,13.86,1.35,16.0,98.0,3.15,1.85,7.22
9,14.10,2.16,18.0,105.0,3.32,2.38,5.75
10,14.12,1.48,16.8,95.0,2.43,1.57,5.00
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20